  
 {{#each notices}} 
 <h3>{{title}}</h3>

 <p>{{description}}</p>

 <ul>
   <li>{{price}}</li>
   <li><a href="mailto:{{contact}}">Contact</a></li>
 </ul>

 <p>Keywords: {{keywords}}</p>
 
 {{else}}
   <p>No Notices posted at this time. Please check back later</p>
 {{/each}}
